<%= image_tag "title.png", class: "image" %>
<div class="container">
  <%= image_tag "menu.png" %>
  <%= image_tag "meals.png", class: "meals"%>
  <%= image_tag "plus.png", class: "meals" %>
  <%= image_tag "snacks.png", class: "meals" %>

</div>
<%= image_tag "image.png", class: "image-food" %>
<div class="container">
  <%= image_tag "beer.png", class: "meals" %>
  <%= image_tag "image_3.png", class: "meals" %>
  <%= image_tag "drinks.png", class: "meals" %>
  <%= image_tag "image_4.png", class: "meals" %>
  <%= image_tag "drinks_2.png", class: "meals" %>
  <%= image_tag "image_2.png", class: "meals" %>
  <a href="https://www.instagram.com/frigideirademinas/" target="_blank" class="insta"><i class="fab fa-instagram"></i></i></a>
</div>
